In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('Resources/cities.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Date
0,yellowknife,CA,62.46,-114.35,64.40,48.0,40,5.82,1.594954e+09
1,punta arenas,CL,-53.15,-70.92,30.20,86.0,0,4.70,1.594954e+09
2,mitsamiouli,KM,-11.38,43.28,74.75,72.0,0,22.37,1.594954e+09
3,atuona,PF,-9.80,-139.03,79.72,76.0,6,17.52,1.594954e+09
4,kamenka,RU,51.32,42.77,57.00,79.0,74,1.01,1.594954e+09

In [14]:
df.to_html('Data.html', index=False)